[package]
name = "x"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1.0.100"
docstr = "0.4.6"
rand = "0.9.2"
sqlx = { version = "0.8.6", features = ["macros", "runtime-tokio", "sqlite"] }
tokio = { version = "1.48.0", features = ["full"] }
